# Steph's SqlLite Jupyter Notebook Experiments

Here's a list of SQL queries that I ran on the 2020 census data. It can be cloned and ran locally using Jupyter notebook (by clicking the play icon to the right of each query block) or viewed [directly in GitHub](https://github.com/stephaniecp/census_games/blob/main/sqllite_jupyter/steph_sqllite_notebook.ipy) where the last results will be saved. 

To view the entire data base as a .csv file, I followed these steps (for MacOs): 
1. When viewing the project locally in an IDE, right click on /data/sub-est2019_all.csv
2. Click "Reveal in Finfer"
3. In Finders, right click to open with "Numbers" or another tool

In [54]:
# List of imports necessary for this project (needs to run before running the SQL queries below, it can be done individually or all at once with the "Run All" button)

import pandas as pd # Pandas is a data analysis library to help with data visualisation
from pathlib import Path
import sqlite3
from IPython.display import display, HTML

In [55]:
# This chunk of code is to load the census data into a sqlite database (needs to run before running the SQL queries below, it can be done individually or all at once with the "Run All" button)

#Make sure it exists
dbPath = Path('../data/sqlLiteCensusDb.db')
if (not Path.is_file(dbPath)):
    dbPath.touch()

conn = sqlite3.connect(dbPath)
c = conn.cursor() #We'll hang on to this cursor for later queries

censusDataDF = pd.read_csv('../data/sub-est2019_all.csv')

print("Dataframe of loaded census data:")
display(censusDataDF)

censusMainTableName = "all_2019"
# write the data to a sqlite table
censusDataDF.to_sql(censusMainTableName, conn, if_exists='replace', index = False)

print("Data loaded into sql")

Dataframe of loaded census data:

,sumlev,state,county,place,cousub,concit,primgeo_flag,funcstat,name,stname,...,popestimate2010,popestimate2011,popestimate2012,popestimate2013,popestimate2014,popestimate2015,popestimate2016,popestimate2017,popestimate2018,popestimate2019
0,40,1,0,0,0,0,0,A,Alabama,Alabama,...,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,162,1,0,124,0,0,0,A,Abbeville city,Alabama,...,2699,2694,2643,2628,2608,2600,2584,2575,2571,2560
2,162,1,0,460,0,0,0,A,Adamsville city,Alabama,...,4500,4493,4471,4449,4420,4390,4356,4327,4308,4281
3,162,1,0,484,0,0,0,A,Addison town,Alabama,...,751,750,743,742,739,734,731,726,723,718
4,162,1,0,676,0,0,0,A,Akron town,Alabama,...,355,347,347,343,338,339,333,332,331,328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81429,157,56,43,99990,0,0,1,F,Balance of Washakie County,Wyoming,...,2782,2755,2734,2737,2690,2690,2650,2599,2554,2531
81430,50,56,45,0,0,0,0,A,Weston County,Wyoming,...,7198,7142,7077,7136,7138,7208,7220,6968,6924,6927
81431,157,56,45,56215,0,0,1,A,Newcastle city,Wyoming,...,3530,3506,3476,3483,3484,3513,3530,3409,3394,3397
81432,157,56,45,79125,0,0,1,A,Upton town,Wyoming,...,1098,1089,1081,1088,1095,1104,1105,1062,1057,1056
81433,157,56,45,99990,0,0,1,F,Balance of Weston County,Wyoming,...,2570,2547,2520,2565,2559,2591,2585,2497,2473,2474

Data loaded into sql

In [62]:
# Select All from data base "all_2019" + uses Pandas to display the data
pd.DataFrame(c.execute("SELECT * FROM all_2019").fetchall())

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,40,1,0,0,0,0,0,A,Alabama,Alabama,...,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
1,162,1,0,124,0,0,0,A,Abbeville city,Alabama,...,2699,2694,2643,2628,2608,2600,2584,2575,2571,2560
2,162,1,0,460,0,0,0,A,Adamsville city,Alabama,...,4500,4493,4471,4449,4420,4390,4356,4327,4308,4281
3,162,1,0,484,0,0,0,A,Addison town,Alabama,...,751,750,743,742,739,734,731,726,723,718
4,162,1,0,676,0,0,0,A,Akron town,Alabama,...,355,347,347,343,338,339,333,332,331,328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81429,157,56,43,99990,0,0,1,F,Balance of Washakie County,Wyoming,...,2782,2755,2734,2737,2690,2690,2650,2599,2554,2531
81430,50,56,45,0,0,0,0,A,Weston County,Wyoming,...,7198,7142,7077,7136,7138,7208,7220,6968,6924,6927
81431,157,56,45,56215,0,0,1,A,Newcastle city,Wyoming,...,3530,3506,3476,3483,3484,3513,3530,3409,3394,3397
81432,157,56,45,79125,0,0,1,A,Upton town,Wyoming,...,1098,1089,1081,1088,1095,1104,1105,1062,1057,1056
81433,157,56,45,99990,0,0,1,F,Balance of Weston County,Wyoming,...,2570,2547,2520,2565,2559,2591,2585,2497,2473,2474

In [56]:
# Selects all distinct state names from the "stname" column
pd.DataFrame(c.execute("SELECT distinct(stname) FROM all_2019").fetchall())

                       0
0                Alabama
1                 Alaska
2                Arizona
3               Arkansas
4             California
5               Colorado
6            Connecticut
7               Delaware
8   District of Columbia
9                Florida
10               Georgia
11                Hawaii
12                 Idaho
13              Illinois
14               Indiana
15                  Iowa
16                Kansas
17              Kentucky
18             Louisiana
19                 Maine
20              Maryland
21         Massachusetts
22              Michigan
23             Minnesota
24           Mississippi
25              Missouri
26               Montana
27              Nebraska
28                Nevada
29         New Hampshire
30            New Jersey
31            New Mexico
32              New York
33        North Carolina
34          North Dakota
35                  Ohio
36              Oklahoma
37                Oregon
38          Pennsylvania
39          Rhode Island
40        South Carolina
41          South Dakota
42             Tennessee
43                 Texas
44                  Utah
45               Vermont
46              Virginia
47            Washington
48         West Virginia
49             Wisconsin
50               Wyoming

In [57]:
# Narrowing down the data to just the list of state names (from the stname column)
# Fetch by column + sort by distinct values
pd.DataFrame(c.execute("SELECT distinct(stname) FROM all_2019").fetchall())

                       0
0                Alabama
1                 Alaska
2                Arizona
3               Arkansas
4             California
5               Colorado
6            Connecticut
7               Delaware
8   District of Columbia
9                Florida
10               Georgia
11                Hawaii
12                 Idaho
13              Illinois
14               Indiana
15                  Iowa
16                Kansas
17              Kentucky
18             Louisiana
19                 Maine
20              Maryland
21         Massachusetts
22              Michigan
23             Minnesota
24           Mississippi
25              Missouri
26               Montana
27              Nebraska
28                Nevada
29         New Hampshire
30            New Jersey
31            New Mexico
32              New York
33        North Carolina
34          North Dakota
35                  Ohio
36              Oklahoma
37                Oregon
38          Pennsylvania
39          Rhode Island
40        South Carolina
41          South Dakota
42             Tennessee
43                 Texas
44                  Utah
45               Vermont
46              Virginia
47            Washington
48         West Virginia
49             Wisconsin
50               Wyoming

In [58]:
# Narrowing down the data to just the list of state names (from the stname column)
# Filter by column + sort by distinct values + filter to State name starting with "Or", leaving just Oregon
pd.DataFrame(c.execute("SELECT distinct(stname) FROM all_2019 WHERE stname LIKE 'OR%'").fetchall())

        0
0  Oregon

In [63]:
# Filter by column + sort by distinct values + filter to State name starting with "A" and ending with "ka", leaving just Alaska
pd.DataFrame(c.execute("SELECT distinct(stname) FROM all_2019 WHERE stname LIKE 'A%KA'").fetchall())

        0
0  Alaska

In [59]:
#Filter to show only rows with where the 'popestimate2019' population count column indicates between 10000 and 20000 people
# Only displays the first 15 rows
pd.DataFrame(c.execute("SELECT * FROM all_2019 WHERE popestimate2019 BETWEEN 10000 AND 20000 LIMIT 15").fetchall())

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,162,1,0,1132,0,0,0,A,Alexander City city,Alabama,...,14929,14897,14767,14835,14781,14647,14611,14550,14452,14317
1,162,1,0,11416,0,0,0,A,Calera city,Alabama,...,11730,12123,12455,12746,12976,13255,13575,13921,14302,14717
2,162,1,0,13264,0,0,0,A,Center Point city,Alabama,...,16880,16902,16879,16785,16704,16589,16445,16315,16227,16110
3,162,1,0,14104,0,0,0,A,Chelsea city,Alabama,...,10738,10881,11130,11545,11944,12237,12557,13048,13532,14126
4,162,1,0,18976,0,0,0,A,Cullman city,Alabama,...,15163,15131,15140,15217,15318,15490,15625,15734,15884,16034
5,162,1,0,24568,0,0,0,A,Eufaula city,Alabama,...,13062,12961,12893,12753,12658,12476,12319,12021,11834,11709
6,162,1,0,25120,0,0,0,A,Fairfield city,Alabama,...,11089,11062,10993,11011,10956,10880,10789,10705,10645,10568
7,162,1,0,27616,0,0,0,A,Fort Payne city,Alabama,...,14103,14245,14140,14107,14112,14122,14113,14145,14099,14074
8,162,1,0,29056,0,0,0,A,Gardendale city,Alabama,...,13988,13986,13931,13885,13866,13856,13948,13992,14099,14177
9,162,1,0,32272,0,0,0,A,Gulf Shores city,Alabama,...,10875,11024,11189,11409,11614,11791,11978,12279,12534,12757
10,162,1,0,33448,0,0,0,A,Hartselle city,Alabama,...,14292,14438,14448,14393,14404,14405,14385,14389,14426,14466
11,162,1,0,34024,0,0,0,A,Helena city,Alabama,...,17011,17118,17270,17482,17824,18231,18683,19104,19571,19925
12,162,1,0,36448,0,0,0,A,Hueytown city,Alabama,...,16128,16094,16010,15925,15851,15745,15612,15495,15419,15322
13,162,1,0,37864,0,0,0,A,Irondale city,Alabama,...,12405,12448,12488,12497,12550,12549,12513,12571,12663,12893
14,162,1,0,38272,0,0,0,A,Jacksonville city,Alabama,...,13185,13108,13120,12904,12833,12741,12670,12618,12628,12544

In [60]:
#Filter to show only rows with where the 'popestimate2019' population count is higher than 'popestimate2016' by at least no more than 1000 people
# Only displays the first 15 rows
pd.DataFrame(c.execute("SELECT name,stname FROM all_2019 WHERE popestimate2019<10001 AND popestimate2019>popestimate2016 LIMIT 15").fetchall())

                    0        1
0        Allgood town  Alabama
1           Arab city  Alabama
2        Ardmore town  Alabama
3           Argo town  Alabama
4        Ashford town  Alabama
5       Ashville city  Alabama
6   Autaugaville town  Alabama
7           Avon town  Alabama
8      Baileyton town  Alabama
9    Bay Minette city  Alabama
10    Bear Creek town  Alabama
11  Blountsville town  Alabama
12          Boaz city  Alabama
13       Cardiff town  Alabama
14   Cedar Bluff town  Alabama